.nav-bar {
    background-color: #9F6F6F;
    display: flex; 
    justify-content: space-between; 
    align-items: center;
}

/* Container of the item */
.nav-item {
    margin: 8px;
}

.nav-links {
    color: black;
}

.nav-links.active {
    color: white;
}

.nav {
    background-color: #9F6F6F;
}

/* .fa-times {
    color: white;
    font-size: 2rem;
} */
/* 
.nav-links-mobile {
    display: block;
    text-align: center;
    margin: 2rem auto;
    border-radius: 4px;
    width: 60%;
    text-decoration: none;
    font-size: 1.5rem;
    background-color: transparent;
    color: white;
    padding: 14px 20 px;
    border: px solid white;
    transition: all 0.3s ease-out;
}

.nav-links-mobile:hover {
    background: wite;
    color: black;
    transition: 250ms;
} */

.navbar-container{
    background-color: #9F6F6F;
}

.navbar-nks-logo {
    font-family: Perpetua;
    color: white;
}

.nav-item {
    color: black;
}

.nav-item {
    color: aqua;
}